body {
  overflow-x: auto;
  font-family: "Montserrat", sans-serif;
}

/* --------------------
  all-products style
------------------- */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 100%;
  height: 100%;
  grid-gap:3px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
/* --------------------
 single-product style
------------------- */
.single-product {
  width: 280px;
  height: 100%;
  margin: 3px;
  padding: 5px;
  transition: 0.6s;
  background-color: rgb(213, 230, 223);
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}
/* --------------------
     image style
------------------- */
.product-image {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
/* --------------------
     cart style
------------------- */
.cart {
 padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 10px;
  position: fixed;
  transition: 0.6s;
  background-color: beige;
} 
.cart:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid rgb(107, 194, 8); 
}
/* ---------end -----------*/
